{
    cache
    log {
        format console
        level WARN
    }
}

http://ядро.орг, http://*.ядро.орг {
    tls internal
    encode gzip zstd

    cache {
        # we don't want to flood the upstream from the same IP
        mode bypass
        ttl 30m
    }

    import Caddyfile.yadro proxy:80
}

:9000 {
    reverse_proxy {
        dynamic a puppy 80
        lb_policy least_conn

        transport http {
            response_header_timeout 10m
            read_timeout 10m
            write_timeout 10m
        }
    }

    cache {
        allowed_http_verbs POST
        ttl 7d

        key {
            headers X-Translation-Direction
        }

        timeout {
            backend 10m
        }
    }
}
