CompileFlags:
  Add: [ -std=c++20, -isystem/usr/lib/gcc/i686-w64-mingw32/12-posix/include/c++, -isystem/usr/lib/gcc/i686-w64-mingw32/12-posix/include/c++/i686-w64-mingw32, -isystem/usr/lib/gcc/i686-w64-mingw32/12-posix/include/c++/backward, -isystem/usr/lib/gcc/i686-w64-mingw32/12-posix/include, -isystem/usr/lib/gcc/i686-w64-mingw32/12-posix/include-fixed, /usr/lib/gcc/i686-w64-mingw32/12-posix/../../../../i686-w64-mingw32/include ]
  Compiler: i686-w64-mingw32-g++
